 body {
                background-color: #E6E6E6;
                padding: 10px;
            }

            .outer {
                border-radius: 8px;
               overflow: auto;
               background-color: white;
               max-width: 500px;
               height: 100%;
               padding: 14px;
               margin: auto;
            }

            .row {
               margin-bottom: 14px;
            }

            .row .input-lg {
                padding-left: 6px;
                padding-right: 8px;
            }

            .row-label {
               line-height: 44px;
               font-size: 20px;
            }

            .col-xs-4 {
               padding-left: 10px;
               padding-right: 10px;
            }

            .container .row {
               padding: 10px;
               margin-bottom: 0;

            }

            .container .label {
               line-height: 15px;
            }

            .red {
                color: red;
                font-weight: 500;
            }

            .green>.price {
                color: rgb(25, 211, 25);
                font-weight: 500;
            }

            .pieces {
                text-align: right;
            }
            .price, .red {
                text-align: center;
            }

            .container>.row>div {
                padding-left: 6px;
                padding-right: 6px;

            }

            #results {
                margin-left: 0;
                margin-right: 0;
            }

            .container.result {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                margin-bottom: 15px;
            }
